* {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  --mdc-font-size: 2vmin;
  --gm-button--font-size: 1em;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .9rem;
  font-weight: 400;
  margin: 0;
  -webkit-user-select: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gm-background-color: #fff;
  --gm-body-text-color: #3c4043;
  --gm-caption-color: #5f6368;
  --gm-error-color-highlight: #fce8e6;
  --gm-error-color: #c5221f;
  --gm-hairline-color: #dadce0;
  --gm-hint-color: #5f6368;
  --gm-label-color: #5f6368;
  --gm-navigation-icon-color: #3c4043;
  --gm-neutral-highlight-color: #f8f9fa;
  --gm-neutral-outline-color: #dadce0;
  --gm-overlay-color--on-theme-background: #202124;
  --gm-secondary-icon-color: var(--gm-label-color);
  --gm-text-color--on-theme-background: #fff;
  --gm-text-color--on-dark-background: var(--gm-text-color--on-theme-background);
  --gm-theme-color--base: #1a73e8;
  --gm-theme-color--elevation-shadow-1: rgba(26,115,232,0.149);
  --gm-theme-color--elevation-shadow-2: rgba(26,115,232,0.302);
  --gm-theme-color--stateful: #174ea6;
  --gm-theme-color-highlight: #e8f0fe;
  --gm-theme-color: #1a73e8;
  --gm-tooltip-background-color: #3c4043;
  --mdc-theme-primary: var(--gm-theme-color);
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: none;
  box-shadow: none;
  background: #dadce0;
  border-radius: 4px;
  min-height: 40px;
}

::-webkit-scrollbar-track {
   margin: 3px 0;
}

h1 {
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.25rem;
  padding-bottom: 0.5em;
  margin: 0;
}

.Home {
  margin-top: 48px;
  height: calc(100vh - 56px);
  text-align: center;
  min-height: 100%;
  font-size: 1rem;
  animation: .5s ease-in fadeIn 0s forwards;
}

.Link {
  color: var(--gm-theme-color);
  font-size: 1rem;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}

.StepsDescriptions {
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
}

.StepsTitles {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 0;
}

.GoogleMeetDescription {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #5f6368;
  max-width: 30rem;
  padding-bottom: 2em;
  margin: 0;
}

.Home-Meeting {
  display: inline-flex;
  flex-basis: 35rem;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 35rem;
  padding: 3em 2em;
}

.Home-Info {
  padding: 1em 2em;
  max-width: 39rem;
  margin: auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255,255,255,1);
  min-width: 0;
  white-space: nowrap;
  padding: 4px;
  padding-left: 8px;
  z-index: 2;
}

.Header-Info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-Info-Icons {
  display: flex;
}

.Datetime {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #5f6368;
  margin-right: 12px;
}

.Logo {
  display: inline-block;
  position: relative;
  top: 2px;
  overflow: hidden;
  -webkit-user-select: none;
  flex: 1 1 auto;
  height: 48px;
  vertical-align: middle;
  padding-left: 12px;
}

.Home-Meeting-Buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  flex-grow: 2;
}

.NewMeetingButton {
  box-shadow: none;
  height: 48px;
}

.NewMeetingButton:hover {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  outline: 2px solid transparent;
  background-color: #1a6dde;
}

.NewMeetingButton:active {
  border: none;
}

.LinkContainerTwo{
  text-align: left;
  margin-top: 2rem;
}

.NewMeetingItems svg {
  margin-right: 30px;
}

.Hide-Join-Button {
  display: none !important;
}

.Show-Join-Button {
  display: block !important;
}

.Home-Meeting-Buttons-Code {
  display: inline-flex;
  min-width: 17em;
  text-align: center;
}

.Home-Meeting-Description {
  text-align: center;
}

.LinkContainerOne {
  display: none;
}

@media (min-width: 529px) {
  .Home-Meeting-Buttons {
    flex-direction: row;
  }
}

@media (min-width: 961px) {
  .Home {
    display: flex;
    align-items: center;
  }

  .Home-Meeting-Buttons {
    flex-direction: column;
  }

  .Home-Meeting {
    flex-basis: 34rem;
    padding: 5em 5em;
  }

  .Home-Meeting-Description {
    text-align: left;
  }

  .Link {
    margin-top: 10px;
  }

  .LinkContainerTwo {
    display: none;
  }

  .LinkContainerOne {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1033px) {
  .Home-Meeting-Buttons {
    flex-direction: row;
  }
}
